# Python distribution / packaging #
###################################
*.egg-info/
*.eggs/
*.whl
pip-wheel-metadata/
share/python-wheels/

# Testing #
###########
.tox/
.nox/
.coverage
*.cover
coverage.xml
*.pytest_cache/
htmlcov/

# Sphinx documentation #
########################
docs/_build/
*.rst~

# Jupyter Notebook #
####################
.ipynb_checkpoints/

# PyInstaller #
###############
*.manifest
*.spec

# Celery #
##########
celerybeat-schedule
celerybeat.pid

# mypy #
########
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre #
########
.pyre/

# C extensions #
################
*.c
*.cpp
*.h
*.so
*.pyd

# Virtual Environments #
########################
venv/
__pycache__/
*.py[cod]
__pycache__/
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.whl

*.gz
*.egg-info